.container {
  margin-top: 150px;
  padding: 0 !important;
}
.message {
  background: #dc3545;
  color: white;
  text-align: center;
  border: 1px rgb(168, 10, 10) solid !important;
  margin: auto;
  width: 500px;
  border-radius: 2%;
}
.error {
  border: 1px rgb(168, 10, 10) solid !important;
}
.contenedor {
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin: auto;
  width: 500px;
  border-radius: 2%;
}
.formulario {
  background: #fff;
  margin: auto;
  width: 500px;
  border-radius: 10px 10px 10px 10px !important;
}
h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.button-register {
  border: none;
  color: white;
  font-size: 12px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out;
  transition: 0.4s;
}

.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

#code {
  border-radius: 10px;
}

/*Segundo Div*/
#labelMessage {
  width: 100%;
  font: 20px solid;
  color: black;
}

#inputCode {
  margin-top: 50px;
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1px solid dodgerblue;
  background: #c3c3c3;
}

#buttonCode {
  width: 100%;
  margin-top: 39px;
  border: 0;
  background: #653fa9;
  border: 1px solid #653fa9;
  border-radius: 0 0 10px 10px;
}
