<header *ngIf="identity" class="header">
  <message [popupUser]="open_user" [popupMessage]="open_box"></message>
  <pride [popupPride]="open_clan"></pride>
  <user-edit [popupUpdate]="open_update"></user-edit>
  <div class="row">
    <div class="icon divUser" [ngSwitch]="ranking">
      <span *ngSwitchCase="4"
        ><i #skin class="fas fa-user user fa-3x"></i
      ></span>
      <span *ngSwitchCase="6"
        ><i #skin class="fas fa-user-injured user fa-3x"></i
      ></span>
      <span *ngSwitchCase="12"
        ><i #skin class="fas fa-user-tie user fa-3x"></i
      ></span>
      <span *ngSwitchCase="17"
        ><i #skin class="fas fa-user-secret user fa-3x"></i
      ></span>
      <span *ngSwitchCase="21"
        ><i #skin class="fas fa-user-ninja user fa-3x"></i
      ></span>
      <span *ngSwitchCase="27"
        ><i #skin class="fas fa-user-astronaut user fa-3x"></i
      ></span>
    </div>

    <div class="ajustar-2">
      <p style="font: '15px solid'">Ganadas: {{ percent }}%</p>
      <progress value="{{ identity.wins }}" max="{{ max }}"></progress>
      <p>{{ identity.nick }}</p>
    </div>
    <div class="ajustar-2">
      <p style="font: '15px solid'">Experiencia</p>
      <progress class="gp" value="{{ gp }}" max="{{ ranking }}"></progress>
    </div>

    <!-- No contener espacios y caracteres -->

    <div id="sideMenu">
      <div
        #clan
        class="ajustar none"
        (click)="openPopup_clan(false, false)"
        (mouseenter)="openPopup_clan(true, false)"
        (mouseleave)="openPopup_clan(false, true)"
      >
        <i class="fas fa-users fa-2x"></i>
      </div>
      <div
        #friends
        class="ajustar none"
        (click)="openPopup_box(false, false)"
        (mouseenter)="openPopup_box(true, false)"
        (mouseleave)="openPopup_box(false, true)"
      >
      <i class="fas fa-comments fa-2x"></i>
      </div>
      <div
        #edit
        class="ajustar none"
        (click)="openPopup_update(false, false)"
        (mouseenter)="openPopup_update(true, false)"
        (mouseleave)="openPopup_update(false, true)"
      >
        <i class="fas fa-pen-square fa-2x"></i>
      </div>
      <div class="ajustar rotate" (click)="logout()">
        <i class="fas fa-arrow-left fa-2x"></i>
      </div>
    </div>
  </div>
</header>
<div class="large">
  <router-outlet (cambio)="funCambiar($event)"></router-outlet>
</div>
